{% extends "project/base.html" %}


{% block navigatebar %} 
<nav class="navbar navbar-light navbar-expand-md bg-light justify-content-md-center justify-content-start">
    <a class="nav-link" id="sidebarCollapse" type="button"><i class="fa fa-bars fa-lg" aria-hidden="true"></i></a> 
    <div class="navbar-collapse collapse justify-content-between align-items-center w-100" id="collapsingNavbar2">
        <ul class="navbar-nav mx-auto text-md-center text-left">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'home' 'menu'%}">Menu</a>
            </li>
            <li class="nav-item my-auto">
                <a class="nav-link navbar-brand mx-0 d-none d-md-inline" href="{% url 'home'%}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'map_location'%}">Location</a> 
            </li>
        </ul>
        <ul class="nav navbar-nav flex-row justify-content-md-center justify-content-start flex-nowrap">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-shopping-cart"></i> Cart
                </a>
               
                  <div class="dropdown-menu cart" aria-labelledby="navbarDropdownMenuLink">
                    {% for item in cartItems%}
                    <div>{{item.entry.name}} x {{item.quantity}}</div>
                    {% endfor %}
                    {%if count == 0 %}
                        <div>No items in cart</div>
                    {%else%}
                    <form action="{% url 'payment'%}" method="POST">
                        <button class="btn btn-primary" name="button" type="submit">checkout</button>
                        {% csrf_token %}
                    </form>
                    {% endif %}
                  </div>
              </li>
        </ul>
    </div>
</nav>



{% endblock %}


<!-- {% block page %}
{% endblock %} -->

{% block content %}

<div class="wrapper">
 <!-- Sidebar -->
 <nav id="sidebar">

    <ul class="list-unstyled components">
        <p>Hello, <span id = "id_logged_in_user_name">{{ user.first_name }} {{ user.last_name }}</span></p>
        <li class="active">
            <a href="{% url 'home' %}" >Home</a>
        </li>
        <li>
            <a href="{% url 'profile' %}">Profile</a>
            <a href="{% url 'orders' %}">Orders</a>
        </li>
        <li>
            <a href="{% url 'logout' %}" id = "id_nav_logout">Logout</a> 
        </li>
    </ul>
</nav>

    <!-- Page Content -->
    <div class="mainContent">
        <div>Order# {{order.id}}</div>
        <div>Placed Time: {{order.order_time|date:"m/d/Y h:iA"}}</div>
        <div>Delivery to: {{order.location}}</div>
        <div> <a href="{% url 'directions' order.id %}" >
            Show directions
           </a> </div>
       
        <div>
            {% if order.status != "CANCELLED" and writeReview %}
            <button type="button" class="btn btn-primary" data-toggle="modal" data-id={{order.id}} data-target="#writeReview">
            Write Review
            </button>
            {% else %}
            <button type="button" class="btn btn-primary" disabled data-toggle="modal" data-id={{order.id}} data-target="#writeReview">
                Review already exists
            </button>
            {% endif %}
        </div>
       
        <div>Order details</div>
            <table class="table table-sm table-hover">
              <thead>
                <tr>
                  <th scope="col">Name</th>
                  <th scope="col">Price</th>
                  <th scope="col">Quantity</th>
                  <th scope="col">Subtotal</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                {% for item in items%}
                <tr>
                  <td>{{item.entry.name}}</th>
                  <td>${{item.entry.price}}</td>
                  <td>{{item.quantity}}</td>
                  <td>${{item.subtotal}}</td>
                </tr>
                {% endfor %}

              </tbody>
            </table>
        <div>Total amount: ${{order.amount}}</div>
    </div>
    <div class="overlay"></div>
</div>



<div class="modal fade" id="writeReview" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Review for your order</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form enctype="multipart/form-data" id="add_form" action="{% url 'add-review' %}" method="POST">
            <div class="modal-body">
                <input type="hidden" name="orderId" value=""/>
              <table>
                {% for field in reviewForm.visible_fields %}
                <tr>
                    <td>{{field.label_tag}}</td> 
                    <td>{{field}}</td>
                    <td class="error">
                        {% for error in field.errors %} {{error}} {% endfor %}
                    </td>
                </tr>
                {% endfor %}

                <tr>
                    <td>Images</td> 
                    <td> <input type="file" name="image" class="form-control-file" multiple /></td>
                    <td class="error">
                    </td>
                </tr>
              </table>
              {% csrf_token %}
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <input class="btn btn-primary" type="submit" value="Submit"/>
            </div>
        </form>
      </div>
    </div>
</div>
  


<script type="text/javascript">
    $(document).ready(function () {
        $("#sidebar").mCustomScrollbar({
            theme: "minimal"
        });

        $('#dismiss, .overlay').on('click', function () {
            $('#sidebar').removeClass('active');
            $('.overlay').removeClass('active');
        });

        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').addClass('active');
            $('.overlay').addClass('active');
            $('.collapse.in').toggleClass('in');
            $('a[aria-expanded=true]').attr('aria-expanded', 'false');
        });
    });
    $('#id_rating input[type=checkbox]').change(function() {
    if (this.checked) {
        $('#id_rating input[type=checkbox]').not(
                            $(this)).prop('checked', false);
        }
    });
    $('#writeReview').on('show.bs.modal', function (event) {
        var orderId = $(event.relatedTarget).data('id');
        console.log(orderId)
        $(event.currentTarget).find('input[name="orderId"]').val(orderId);
    });
    fu
</script>
{% endblock %}