{% extends "project/base.html" %}


{% block navigatebar %} 
<nav class="navbar navbar-light navbar-expand-md bg-light justify-content-md-center justify-content-start">
  <a class="nav-link" id="sidebarCollapse" type="button"><i class="fa fa-bars fa-lg" aria-hidden="true"></i></a> 
  <div class="navbar-collapse collapse justify-content-between align-items-center w-100" id="collapsingNavbar2">
      <ul class="navbar-nav mx-auto text-md-center text-left">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'home' 'menu'%}">Menu</a>
          </li>
          <li class="nav-item my-auto">
              <a class="nav-link navbar-brand mx-0 d-none d-md-inline" href="{% url 'home'%}">Home</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="{% url 'map_location'%}">Location</a> 
          </li>
      </ul>
      <ul class="nav navbar-nav flex-row justify-content-md-center justify-content-start flex-nowrap">
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fa fa-shopping-cart"></i> Cart
              </a>
             
                <div class="dropdown-menu cart" aria-labelledby="navbarDropdownMenuLink">
                  {% for item in cartItems%}
                    <div>{{item.entry.name}} x {{item.quantity}}</div>
                    {% endfor %}
                    {%if count == 0 %}
                        <div>No items in cart</div>
                    {%else%}
                    <form action="{% url 'payment'%}" method="POST">
                        <button class="btn btn-primary" name="button" type="submit">checkout</button>
                        {% csrf_token %}
                    </form>
                    {% endif %}
                </div>
            </li>
      </ul>
  </div>
</nav>



{% endblock %}

{% block content %}
<div class="wrapper">
  <!-- Sidebar -->
  <nav id="sidebar">
 
     <ul class="list-unstyled components">
         <p>Hello, <span id = "id_logged_in_user_name">{{ user.first_name }} {{ user.last_name }}</span></p>
         <li>
             <a href="{% url 'home' %}">Home</a>
             <a href="{% url 'profile' %}">Profile</a>
             <a href="{% url 'orders' %}">Orders</a>
             <a href="{% url 'logout' %}" id = "id_nav_logout">Logout</a> 
         </li>
     </ul>
  </nav>
  <!-- page content -->
  <div class="mainContent">
    <div>
      <div>Delivery to: 
      {%if order.location == ''%}
          <a href="{% url 'profile' %}" >
           Go to profile page to set default Address
          </a>
          </div> 
          <button type="button" class="btn btn-primary" data-toggle="modal" data-id={{order.id}} data-target="#writeAddr">
           Add Address
          </button>        
      {% else %}
          <span>
          {{order.location}}
          <a href="{% url 'directions' order.id %}" >
           Show directions
          </a> 
          </span>
          </div> 
          <button type="button" class="btn btn-primary" data-toggle="modal" data-id={{order.id}} data-target="#writeAddr">
           Change Address
          </button>
      {% endif %}
       
    </div>
    <div class="container">
      Order details
      <div class="up_right"> 
        <form enctype="multipart/form-data" id="form_deleteAll" method="post" action="{% url 'delete-all-items' %}">
          <a href="javascript:{}" onclick="document.getElementById('form_deleteAll').submit();">delete all</a>
          {% csrf_token %}
        </form>
      </div>

    </div>
    
    <table class="table table-sm table-hover">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Subtotal</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          {% for item in cartItems%}
          <tr>
            <td>{{item.entry.name}}</th>
            <td>${{item.entry.price}}</td>
            <form enctype="multipart/form-data" method="post" action="{% url 'edit-cart-item' item.id%}">
            <td><input type="number" name="quantity" min="1" max="10" step="1" value="{{item.quantity}}">
                <input type="submit" value="Submit"></th>  
            {% csrf_token %}
            </form>
            <td>${{item.subtotal}}</td>
            <form enctype="multipart/form-data" method="post" action="{% url 'delete-cart-item' item.id%}">
            <td><input type="submit" value="X"/></td>
            {% csrf_token %}
            </form>
          </tr>
          {% endfor %}
          <tr>
            <th scope="row">Total</th>
            <td colspan="2"></td>
            <td>${{total}}</td>
          </tr>
        </tbody>
      </table>


    
    <div>Total amount: ${{total}}</div>
  </div>
<div class="overlay"></div>
</div>
{%if order.location != ''%}
{{form.render}}
{% endif %}


<div class="modal fade" id="writeAddr" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Address for your order</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form enctype="multipart/form-data" id="add_form" action="{% url 'add-address' %}" method="POST">
            <div class="modal-body">
              <input type="hidden" name="orderId" value=""/>
              <table>
                {% for field in AddrForm.visible_fields %}
                {% if field.label != 'picture'%}
                <tr>
                    <td>{{field.label_tag}}</td> 
                    <td>{{field}}</td>
                    <td class="error">
                        {% for error in field.errors %} {{error}} {% endfor %}
                    </td>
                </tr>
                {% endif %}
                {% endfor %}
              </table>
              {% csrf_token %}
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <input class="btn btn-primary" type="submit" value="Submit"/>
            </div>
        </form>
      </div>
    </div>
</div>

<script type="text/javascript">
  $(document).ready(function () {
      $("#sidebar").mCustomScrollbar({
          theme: "minimal"
      });

      $('#dismiss, .overlay').on('click', function () {
          $('#sidebar').removeClass('active');
          $('.overlay').removeClass('active');
      });

      $('#sidebarCollapse').on('click', function () {
          $('#sidebar').addClass('active');
          $('.overlay').addClass('active');
          $('.collapse.in').toggleClass('in');
          $('a[aria-expanded=true]').attr('aria-expanded', 'false');
      });
  });
  $('#writeAddr').on('show.bs.modal', function (event) {
        var orderId = $(event.relatedTarget).data('id');
        console.log(orderId)
        $(event.currentTarget).find('input[name="orderId"]').val(orderId);
    });
</script>
{% endblock %}
